button, input[type="button"],
input[type="reset"],
input[type="submit"], .button {
	line-height: 1;
	display: inline-block;
	color: $white;
	// background: rgba( $gold, .30 );
	background: $gold;
	border: 1px solid $gold;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		color: $gold;
		background: rgba( $gold, .30 );
	}

	&:active,
	&:focus {
		color: $gold;
		background: rgba( $gold, .30 );
	}
}