/*!
Theme Name: Prairiewood
Theme URI: http://underscores.me/
Author: 502 Media Group
Author URI: http://502mediagroup.com
Description: A theme for Prairiewood Nature Reserve
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: prairiewood
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Prairiewood is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Crimson Text', Georgia, Times New Roman, serif;
  font-weight: 400; }

h1 {
  font-size: 3em; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 1.5em auto;
  padding: 1em;
  font-style: italic;
  font-family: "Crimson Text", Georgia, serif;
  font-size: 125%;
  max-width: 30em; }
  blockquote p {
    margin: 0; }
    blockquote p + p {
      margin-top: 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 1em;
  padding: 0; }

ul {
  list-style: disc;
  margin-left: 0; }
  ul li {
    list-style-type: none;
    margin-left: 1.5em; }
    ul li:before {
      content: '\f1db';
      font-family: 'FontAwesome';
      float: left;
      margin-left: -1.5em;
      font-size: 75%;
      margin-top: .25em;
      color: #d1ac7b; }

ol {
  list-style: decimal; }

li + li {
  margin-top: .5em; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

td {
  border: 2px solid #f5f5f5;
  padding: .5em .5em;
  vertical-align: middle; }

thead {
  font-weight: 700;
  text-align: center; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"],
input[type="reset"],
input[type="submit"], .button {
  line-height: 1;
  display: inline-block;
  color: #FFFFFF;
  background: #d1ac7b;
  border: 1px solid #d1ac7b;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  button:hover, input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover, .button:hover {
    color: #d1ac7b;
    background: rgba(209, 172, 123, 0.3); }
  button:active, button:focus, input[type="button"]:active, input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus, .button:active, .button:focus {
    color: #d1ac7b;
    background: rgba(209, 172, 123, 0.3); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

#page .gform_wrapper .ginput_complex.ginput_container {
  overflow: visible; }

.ui-datepicker {
  /* Hide datepicker el from bottom of page causing gap */
  display: none; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #7e8b5d; }
  a:hover, a:focus, a:active {
    color: #97a477; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.nav-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 24em;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none; }
  .menu-toggled .nav-wrapper {
    pointer-events: auto; }

.menu-toggle {
  display: block;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 1em;
  text-shadow: none;
  line-height: 1;
  text-transform: uppercase;
  right: 1em;
  z-index: 200;
  color: #FFFFFF;
  font: 300 1em/1 'Roboto';
  letter-spacing: 1px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translateX(-8em);
          transform: translateX(-8em);
  position: static;
  position: relative;
  margin-top: 1.75em;
  pointer-events: auto; }
  .menu-toggle:focus, .menu-toggle:active {
    color: #FFFFFF;
    outline: none;
    background: none; }
  .menu-toggled .menu-toggle {
    margin-top: 1.75em;
    margin-left: 1em;
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    color: #58585a; }
    .menu-toggled .menu-toggle .bounce {
      -webkit-animation: none;
              animation: none; }
    .menu-toggled .menu-toggle:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #58585a; }
    .menu-toggled .menu-toggle:focus, .menu-toggled .menu-toggle:active {
      color: #58585a; }
  .menu-toggle .inner-text, .menu-toggle .fa {
    display: inline-block; }
  .menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
    box-shadow: none;
    border: none;
    background: none;
    color: #FFFFFF; }
  .menu-toggle .fa {
    margin-left: 1em; }

#site-navigation {
  background: rgba(255, 255, 255, 0.9);
  padding: 1em 0;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 24em;
  top: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  right: 0;
  -webkit-transform: translateX(24em);
          transform: translateX(24em); }
  #site-navigation:after {
    content: '';
    background-image: url("img/texture.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .02;
    pointer-events: none; }
  .admin-bar #site-navigation {
    padding-top: 3em; }
  #site-navigation.toggled {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    overflow-y: scroll;
    position: fixed; }
    #site-navigation.toggled #primary-menu {
      opacity: 1; }
    #site-navigation.toggled a, #site-navigation.toggled .a {
      padding: 1em 2em; }
    #site-navigation.toggled .social {
      -webkit-transform: scale(1);
              transform: scale(1); }
  #site-navigation .main-navigation {
    clear: both;
    display: block;
    width: 100%; }
  #site-navigation #primary-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    padding-top: 1em;
    margin-bottom: 2em;
    position: relative;
    z-index: 20;
    opacity: 0;
    -webkit-transition: all 1.25s ease-in-out;
    transition: all 1.25s ease-in-out; }
    #site-navigation #primary-menu .sub-menu {
      margin: 0;
      padding: 0;
      display: none;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      background: rgba(255, 255, 255, 0.2);
      -webkit-transform-origin: top;
              transform-origin: top;
      overflow: hidden; }
      #site-navigation #primary-menu .sub-menu.toggled-on {
        display: block; }
      #site-navigation #primary-menu .sub-menu li a, #site-navigation #primary-menu .sub-menu li .a {
        padding-left: 3em; }
        @media screen and (min-width: 9999px) {
          #site-navigation #primary-menu .sub-menu li a, #site-navigation #primary-menu .sub-menu li .a {
            padding-left: 2em; } }
      #site-navigation #primary-menu .sub-menu .sub-menu li a {
        padding-left: 5em; }
        @media screen and (min-width: 9999px) {
          #site-navigation #primary-menu .sub-menu .sub-menu li a {
            padding-left: 2em; } }
  #site-navigation ul {
    display: block; }
  #site-navigation li {
    position: relative;
    display: block;
    margin: 0; }
    #site-navigation li:before {
      display: none; }
  #site-navigation a, #site-navigation .a {
    display: block;
    color: #58585a;
    text-decoration: none;
    padding: 1em 3em;
    padding: 1em 2em;
    padding: 0 1em;
    font-weight: 300;
    line-height: 1;
    vertical-align: middle;
    -webkit-transition: all 200ms ease, padding 1s ease;
    transition: all 200ms ease, padding 1s ease;
    text-transform: uppercase;
    letter-spacing: 1px; }
    #site-navigation a:hover, #site-navigation .a:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #58585a; }
    @media screen and (min-width: 9999px) {
      #site-navigation a, #site-navigation .a {
        padding: 1em 2em; } }
  #site-navigation .current-menu-item > a, #site-navigation .current-menu-item > .a {
    font-weight: 700; }
  #site-navigation .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 2em; }
    #site-navigation .social a {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      padding: .25em;
      margin: 0 1em;
      -webkit-transition: color .3s ease;
      transition: color .3s ease; }
    #site-navigation .social .instagram:hover {
      color: #517fa4; }
    #site-navigation .social .facebook:hover {
      color: #3b5998; }
    #site-navigation .social .pinterest:hover {
      color: #cb2027; }

#page {
  position: relative;
  -webkit-transition: margin-right 500ms ease;
  transition: margin-right 500ms ease; }

/**
 * Comment Navigation
 */
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.admin-bar .menu-toggle {
  margin-top: 0; }

.dropdown-toggle {
  position: absolute;
  right: 1em;
  top: .5em;
  width: 2em;
  height: 2em;
  background: rgba(255, 255, 255, 0.9);
  background: transparent;
  color: #58585a;
  border-color: #58585a;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  @media screen and (min-width: 9999px) {
    .sub-menu .dropdown-toggle {
      right: 5px; } }
  @media screen and (min-width: 9999px) {
    .dropdown-toggle {
      right: 0; } }
  .dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus {
    color: #58585a; }
  .dropdown-toggle:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 1.5em;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 2em;
        -ms-flex: 1 1 2em;
            flex: 1 1 2em; }
  .dropdown-toggle.toggle-on:after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }

@-webkit-keyframes change-background {
  0%, 100% {
    background-color: #9c4847; }
  25% {
    background-color: #7e8b5d; }
  50% {
    background-color: #a79687; }
  75% {
    background-color: #d1ac7b; } }

@keyframes change-background {
  0%, 100% {
    background-color: #9c4847; }
  25% {
    background-color: #7e8b5d; }
  50% {
    background-color: #a79687; }
  75% {
    background-color: #d1ac7b; } }
@media screen and (min-width: 9999px) {
  #site-navigation {
    text-align: center; }
    #site-navigation #primary-menu {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto; } }
.menu-toggled {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  height: 100vh;
  width: 100%; }

.open-menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
  z-index: -10; }
  .menu-toggled .open-menu-overlay {
    opacity: 1;
    z-index: 20; }

.site-header {
  padding-bottom: 2em;
  background-color: #a79687; }
  .site-header .site-title {
    width: 100%;
    padding-top: 50%;
    font-size: 1em;
    margin: 0;
    position: relative;
    z-index: 10; }
    .site-header .site-title a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      font-size: 2em;
      width: 100%;
      max-width: 10em;
      text-indent: -9999em;
      background: url("img/logo.png");
      background-size: contain;
      background-repeat: no-repeat; }
  .site-header .site-branding {
    width: 10em;
    margin-left: 2em;
    margin-top: 1em; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.content-wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 2em; }

.gold-color-text {
  color: #d1ac7b; }

.light-gray-bg {
  background-color: #f5f5f5;
  padding: 1rem;
  margin: 0; }
  .light-gray-bg + .light-gray-bg {
    margin-top: -1em; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.centered-text {
  text-align: center; }

.font-main {
  font-family: "Roboto", Arial, sans-serif; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin-top: 1.5em; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.single.single-post #masthead, .single.single-post #colophon {
  background: #7e8b5d; }
.single.single-post .entry-content {
  max-width: 60em;
  margin: 2em auto;
  padding: 0 1em; }
.single.single-post .entry-footer .seperator {
  min-height: 6em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .25;
  background: url("img/prairiewood-icon.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 4em; }
  .single.single-post .entry-footer .seperator:before, .single.single-post .entry-footer .seperator:after {
    content: '';
    background-color: #d1ac7b;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 12em;
    width: 30%;
    height: 10em;
    height: 1px; }
    @media screen and (min-width: 50em) {
      .single.single-post .entry-footer .seperator:before, .single.single-post .entry-footer .seperator:after {
        width: 50%;
        max-width: 15em; } }
  .single.single-post .entry-footer .seperator:before {
    -webkit-transform: rotate(-90deg) translateY(-2.35em);
            transform: rotate(-90deg) translateY(-2.35em);
    -webkit-transform: translate(-4em, 1em);
            transform: translate(-4em, 1em); }
  .single.single-post .entry-footer .seperator:after {
    -webkit-transform: translate(4em, 1em);
            transform: translate(4em, 1em); }

.site-main .post-navigation, .site-main .posts-navigation {
  max-width: 75em;
  margin: 4em auto;
  padding: 0 2em; }
  .site-main .post-navigation .nav-previous, .site-main .post-navigation .nav-next, .site-main .posts-navigation .nav-previous, .site-main .posts-navigation .nav-next {
    width: 48%; }
    .site-main .post-navigation .nav-previous a, .site-main .post-navigation .nav-next a, .site-main .posts-navigation .nav-previous a, .site-main .posts-navigation .nav-next a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      color: #d1ac7b;
      font-family: "Crimson Text", Georgia, serif;
      font-size: 1.25em;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
      .site-main .post-navigation .nav-previous a:hover, .site-main .post-navigation .nav-next a:hover, .site-main .posts-navigation .nav-previous a:hover, .site-main .posts-navigation .nav-next a:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
  .site-main .post-navigation .nav-previous a:before, .site-main .posts-navigation .nav-previous a:before {
    content: '\f104';
    font-family: 'FontAwesome';
    padding-right: 1em; }
  .site-main .post-navigation .nav-next, .site-main .posts-navigation .nav-next {
    text-align: right; }
    .site-main .post-navigation .nav-next a, .site-main .posts-navigation .nav-next a {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .site-main .post-navigation .nav-next a:after, .site-main .posts-navigation .nav-next a:after {
      content: '\f105';
      font-family: 'FontAwesome';
      padding-left: 1em; }

.blog #masthead, .blog #colophon, .archive.category #masthead, .archive.category #colophon {
  background: #7e8b5d; }
.blog #content, .archive.category #content {
  max-width: 60em;
  padding: 2em 1em;
  margin: 0 auto; }
.blog .page-title, .archive.category .page-title {
  color: #d1ac7b;
  max-width: 60em;
  text-align: center; }
.blog .site-main .posts-navigation, .archive.category .site-main .posts-navigation {
  margin-left: -2em;
  margin-right: -2em; }
  @media screen and (min-width: 60em) {
    .blog .site-main .posts-navigation, .archive.category .site-main .posts-navigation {
      margin-left: -4em;
      margin-right: -4em; } }
.blog .entry-header, .archive.category .entry-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
.blog .entry-title, .archive.category .entry-title {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  line-height: 1.25; }
  .blog .entry-title a, .archive.category .entry-title a {
    color: #d1ac7b;
    text-decoration: none;
    font-size: 1.5em; }
.blog .entry-meta, .archive.category .entry-meta {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  margin: 1em 0 0;
  text-transform: uppercase; }
  .blog .entry-meta a, .archive.category .entry-meta a {
    color: inherit;
    text-decoration: none; }
.blog .entry-footer .seperator, .archive.category .entry-footer .seperator {
  min-height: 6em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .25;
  background: url("img/prairiewood-icon.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 4em; }
  .blog .entry-footer .seperator:before, .blog .entry-footer .seperator:after, .archive.category .entry-footer .seperator:before, .archive.category .entry-footer .seperator:after {
    content: '';
    background-color: #d1ac7b;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 12em;
    width: 30%;
    height: 10em;
    height: 1px; }
    @media screen and (min-width: 50em) {
      .blog .entry-footer .seperator:before, .blog .entry-footer .seperator:after, .archive.category .entry-footer .seperator:before, .archive.category .entry-footer .seperator:after {
        width: 50%;
        max-width: 15em; } }
  .blog .entry-footer .seperator:before, .archive.category .entry-footer .seperator:before {
    -webkit-transform: rotate(-90deg) translateY(-2.35em);
            transform: rotate(-90deg) translateY(-2.35em);
    -webkit-transform: translate(-4em, 1em);
            transform: translate(-4em, 1em); }
  .blog .entry-footer .seperator:after, .archive.category .entry-footer .seperator:after {
    -webkit-transform: translate(4em, 1em);
            transform: translate(4em, 1em); }
.blog .posted-on, .archive.category .posted-on {
  letter-spacing: 2px; }
.blog .cat-links, .blog .tag-links, .archive.category .cat-links, .archive.category .tag-links {
  display: block;
  font-size: 75%;
  margin: .5em 0; }
  .blog .cat-links a + a, .blog .tag-links a + a, .archive.category .cat-links a + a, .archive.category .tag-links a + a {
    margin: 0 .25em; }
.blog .comments-link, .archive.category .comments-link {
  display: none; }
.blog .entry-content, .archive.category .entry-content {
  margin-top: .5em; }
.blog .more-link, .archive.category .more-link {
  display: block;
  padding-top: .5em;
  color: #d1ac7b;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Crimson Text", Georgia, serif; }
  .blog .more-link .meta-nav, .archive.category .more-link .meta-nav {
    margin-left: .5em; }
@media screen and (min-width: 500px) and (max-width: 60em) {
  .blog .post, .archive.category .post {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; } }
.blog #main .post:last-of-type .seperator, .archive.category #main .post:last-of-type .seperator {
  display: none; }

.page .entry-header, .single-pwproperty .entry-header, .tax-pwdynamic .entry-header, .single .entry-header, .tax-media_category .entry-header {
  text-align: center;
  padding: 8em 1em 4em;
  color: #FFFFFF;
  background-color: #7e8b5d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }
  @media screen and (min-width: 50em) {
    .page .entry-header, .single-pwproperty .entry-header, .tax-pwdynamic .entry-header, .single .entry-header, .tax-media_category .entry-header {
      padding: 10% 2em;
      margin-top: -8em; } }
  .page .entry-header:before, .single-pwproperty .entry-header:before, .tax-pwdynamic .entry-header:before, .single .entry-header:before, .tax-media_category .entry-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-radial-gradient(center, transparent 50%, rgba(0, 0, 0, 0.5));
    background: radial-gradient(to center, transparent 50%, rgba(0, 0, 0, 0.5));
    background: rgba(0, 0, 0, 0.5); }
  .page .entry-header .entry-title, .single-pwproperty .entry-header .entry-title, .tax-pwdynamic .entry-header .entry-title, .single .entry-header .entry-title, .tax-media_category .entry-header .entry-title {
    font-family: "Crimson Text", Georgia, serif;
    margin: 0;
    font-size: 4em;
    line-height: 1;
    font-weight: 400; }
  .page .entry-header .sub-title, .single-pwproperty .entry-header .sub-title, .tax-pwdynamic .entry-header .sub-title, .single .entry-header .sub-title, .tax-media_category .entry-header .sub-title {
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 300; }
  .page .entry-header .title-wrap, .single-pwproperty .entry-header .title-wrap, .tax-pwdynamic .entry-header .title-wrap, .single .entry-header .title-wrap, .tax-media_category .entry-header .title-wrap {
    position: relative;
    z-index: 10; }
  .page .entry-header .entry-meta, .single-pwproperty .entry-header .entry-meta, .tax-pwdynamic .entry-header .entry-meta, .single .entry-header .entry-meta, .tax-media_category .entry-header .entry-meta {
    margin-top: 1em; }
    .page .entry-header .entry-meta .byline, .single-pwproperty .entry-header .entry-meta .byline, .tax-pwdynamic .entry-header .entry-meta .byline, .single .entry-header .entry-meta .byline, .tax-media_category .entry-header .entry-meta .byline {
      display: none; }
    .page .entry-header .entry-meta a, .single-pwproperty .entry-header .entry-meta a, .tax-pwdynamic .entry-header .entry-meta a, .single .entry-header .entry-meta a, .tax-media_category .entry-header .entry-meta a {
      color: #FFFFFF; }
    .page .entry-header .entry-meta .posted-on, .single-pwproperty .entry-header .entry-meta .posted-on, .tax-pwdynamic .entry-header .entry-meta .posted-on, .single .entry-header .entry-meta .posted-on, .tax-media_category .entry-header .entry-meta .posted-on {
      letter-spacing: 2px; }
      .page .entry-header .entry-meta .posted-on a, .single-pwproperty .entry-header .entry-meta .posted-on a, .tax-pwdynamic .entry-header .entry-meta .posted-on a, .single .entry-header .entry-meta .posted-on a, .tax-media_category .entry-header .entry-meta .posted-on a {
        text-decoration: none; }
    .page .entry-header .entry-meta .cat-links, .page .entry-header .entry-meta .tag-links, .single-pwproperty .entry-header .entry-meta .cat-links, .single-pwproperty .entry-header .entry-meta .tag-links, .tax-pwdynamic .entry-header .entry-meta .cat-links, .tax-pwdynamic .entry-header .entry-meta .tag-links, .single .entry-header .entry-meta .cat-links, .single .entry-header .entry-meta .tag-links, .tax-media_category .entry-header .entry-meta .cat-links, .tax-media_category .entry-header .entry-meta .tag-links {
      display: block;
      font-size: 75%;
      margin: .5em 0; }
      .page .entry-header .entry-meta .cat-links a, .page .entry-header .entry-meta .tag-links a, .single-pwproperty .entry-header .entry-meta .cat-links a, .single-pwproperty .entry-header .entry-meta .tag-links a, .tax-pwdynamic .entry-header .entry-meta .cat-links a, .tax-pwdynamic .entry-header .entry-meta .tag-links a, .single .entry-header .entry-meta .cat-links a, .single .entry-header .entry-meta .tag-links a, .tax-media_category .entry-header .entry-meta .cat-links a, .tax-media_category .entry-header .entry-meta .tag-links a {
        color: #FFFFFF;
        text-decoration: none;
        margin: 0 .25em; }
.page .entry-footer, .single-pwproperty .entry-footer, .tax-pwdynamic .entry-footer, .single .entry-footer, .tax-media_category .entry-footer {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto; }

.page-template-template-employees .content-wrapper {
  max-width: 80em; }

#employees {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #employees .employee {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 15em;
        -ms-flex: 1 1 15em;
            flex: 1 1 15em;
    padding: 1.5em 1em; }
    @media screen and (min-width: 50em) {
      #employees .employee {
        -webkit-flex-basis: calc(100%/3);
            -ms-flex-preferred-size: calc(100%/3);
                flex-basis: calc(100%/3);
        max-width: calc(100%/3); } }
    #employees .employee .name {
      color: #d1ac7b;
      font-family: "Crimson Text", Georgia, serif;
      font-size: 1.5em; }
    #employees .employee .position {
      color: #AAA;
      font-style: italic;
      text-transform: uppercase;
      font-size: 75%; }
    @media screen and (min-width: 50em) {
      #employees .employee:first-of-type {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: none; }
        #employees .employee:first-of-type .name {
          font-size: 2em; }
        #employees .employee:first-of-type img {
          -webkit-box-flex: 1;
          -webkit-flex: 1 0 auto;
              -ms-flex: 1 0 auto;
                  flex: 1 0 auto;
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
          max-width: 50%;
          padding-right: 2em; }
        #employees .employee:first-of-type .info {
          -webkit-box-flex: 0;
          -webkit-flex: 0 1 50%;
              -ms-flex: 0 1 50%;
                  flex: 0 1 50%; } }

.sow-google-map-canvas {
  max-height: 360px; }

#testimonials-list {
  margin-top: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #testimonials-list .testimonial {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }
    @media screen and (min-width: 50em) {
      #testimonials-list .testimonial {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 48%;
            -ms-flex: 0 1 48%;
                flex: 0 1 48%; } }
  #testimonials-list blockquote {
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 1em; }
  #testimonials-list .quoter {
    font-size: 1.25em;
    margin: .5em 0 0;
    display: inline-block; }
  #testimonials-list .location {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .75em;
    margin-left: 1em; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

#comments {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em; }
  #comments label {
    display: block; }
  #comments .required {
    color: #9c4847; }

.comment-reply-title, .comments-title {
  color: #d1ac7b;
  font-size: 1.5em;
  text-align: center; }

.comment-notes {
  margin: 0;
  text-align: center; }

.comment-author-admin {
  position: relative; }
  .comment-author-admin .fn:after {
    content: 'Staff';
    background: #7e8b5d;
    color: #FFFFFF;
    padding: .25em .5em 0;
    margin-left: .5em;
    top: 0;
    right: 0;
    font-family: "Crimson Text", Georgia, serif;
    font-size: 75%;
    letter-spacing: 1px; }

.comment-reply-link {
  color: #d1ac7b;
  text-decoration: none;
  font-family: "Crimson Text", Georgia, serif; }

.comment-list {
  list-style: none;
  margin: 0; }
  .comment-list .children {
    list-style: none;
    border-left: 2px solid #d1ac7b;
    margin-left: 0;
    padding-left: 1em; }
    .comment-list .children .children {
      padding-left: 0;
      border-left: none; }
  .comment-list .comment-body {
    padding: 1em 0; }
  .comment-list .comment-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .comment-list .comment-author .avatar {
      margin-right: 1em; }
    .comment-list .comment-author .fn {
      margin-right: .25em; }
      .comment-list .comment-author .fn a {
        color: inherit;
        text-decoration: none;
        font-weight: normal; }
  .comment-list .comment-metadata {
    display: none; }

/*--------------------------------------------------------------
## Home Page
--------------------------------------------------------------*/
body.home #masthead {
  background: transparent;
  height: 0;
  overflow: visible;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 100; }
body.home #page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }
body.home #content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #9c4847;
  -ms-flex-preferred-size: 90vh; }
body.home #primary {
  width: 100%; }
body.home #video-container {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 50em) and (orientation: landscape) {
    body.home #video-container {
      height: 75vh; } }
  body.home #video-container .vide {
    z-index: 10 !important; }
  body.home #video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11; }
body.home .tiny-text {
  font-size: 16px; }
body.home #call-to-action {
  color: #FFFFFF;
  font-size: 1.5em;
  padding: .5em 1em;
  font-weight: 200;
  text-transform: capitalize;
  z-index: 12;
  position: relative;
  text-align: center;
  margin-bottom: 2em; }
  @media screen and (min-width: 50em) {
    body.home #call-to-action {
      font-size: 3em; } }
body.home #colophon {
  position: absolute;
  bottom: -10.25em;
  left: 0;
  right: 0; }
  @media screen and (min-width: 1250px) {
    body.home #colophon {
      bottom: -7.25em; } }
body.home .full-video-modal {
  color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  z-index: 20;
  position: absolute;
  bottom: 1em;
  right: 2em;
  text-decoration: none;
  font-weight: 100; }
body.home .magnific {
  background: none; }
  body.home .magnific .inner {
    background: transparent; }
  body.home .magnific .mfp-close {
    color: #FFFFFF; }
body.home .mfp-bg {
  background: #000;
  opacity: 1; }
body.home #full-video-modal {
  max-width: 85%; }

.menu-toggled.home .full-video-modal {
  z-index: 0; }

.bottom-right:before {
  position: absolute;
  bottom: .25em;
  right: 100%;
  left: .25em;
  content: '';
  height: 1px;
  background: #FFFFFF;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
.bottom-right:after {
  position: absolute;
  bottom: .25em;
  right: .25em;
  content: '';
  width: 1px;
  background: #FFFFFF;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  top: 100%; }

.dynamic-cats-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 10em;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #7e8b5d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 20;
  overflow: hidden; }
  @media screen and (min-width: 1250px) {
    .dynamic-cats-wrap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .dynamic-cats-wrap .dynamic-cat {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    position: relative;
    text-decoration: none; }
    @media screen and (max-width: 1249px) {
      .dynamic-cats-wrap .dynamic-cat {
        min-height: 40vh; } }
    @media screen and (min-width: 1250px) {
      .dynamic-cats-wrap .dynamic-cat + .dynamic-cat {
        border-left: 2px solid #FFFFFF; } }
    .dynamic-cats-wrap .dynamic-cat:hover .hover-wrapper:after {
      bottom: 0.25em;
      top: 0.25em; }
    .dynamic-cats-wrap .dynamic-cat:hover .hover-wrapper:before {
      right: 0.25em;
      left: 0.25em; }
    .dynamic-cats-wrap .dynamic-cat:hover .bottom-right:before {
      right: .25em; }
    .dynamic-cats-wrap .dynamic-cat:hover .bottom-right:after {
      top: .25em; }
    .dynamic-cats-wrap .dynamic-cat:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(68, 68, 68, 0.75);
      z-index: 1;
      -webkit-transition: background 1s ease;
      transition: background 1s ease; }
    .dynamic-cats-wrap .dynamic-cat.light-sweep:after {
      background: rgba(68, 68, 68, 0.35); }
    .dynamic-cats-wrap .dynamic-cat .inner {
      position: relative;
      z-index: 10; }
    .dynamic-cats-wrap .dynamic-cat .hover-wrapper {
      display: block;
      text-decoration: none;
      position: relative;
      color: white;
      font-size: 1.5em;
      padding: .5em 1em;
      font-weight: 200;
      text-transform: capitalize;
      text-align: center; }
      .dynamic-cats-wrap .dynamic-cat .hover-wrapper:after {
        position: absolute;
        top: .25em;
        left: .25em;
        content: '';
        width: 1px;
        background: #FFFFFF;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        bottom: 100%; }
      .dynamic-cats-wrap .dynamic-cat .hover-wrapper:before {
        position: absolute;
        top: .25em;
        right: .25em;
        left: 100%;
        content: '';
        height: 1px;
        background: #FFFFFF;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease; }

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
  .home #video-container {
    min-height: 75vh; }
  .home #call-to-action {
    margin-top: 1em; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .home #video-container {
    min-height: 75vh; }
  .home #call-to-action {
    margin-top: 4em;
    margin-bottom: 2em; } }
#mobile-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75vh; }
  #mobile-slider .slick-slide {
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.single-pwproperty .entry-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 50em) {
    .single-pwproperty .entry-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .single-pwproperty .entry-content .sep {
    margin-top: 3em;
    margin-bottom: 2em;
    width: 100%; }
.single-pwproperty .content-wrapper {
  max-width: 80em; }

#property-main-content {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media screen and (min-width: 50em) {
    #property-main-content {
      max-width: 70%;
      margin-right: 2em; } }

#property-side-content {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 50em) {
    #property-side-content {
      max-width: 30%; } }
  #property-side-content .sidebar-item {
    padding-left: 2em;
    padding-right: 2em; }
  #property-side-content .sidebar-title {
    color: #d1ac7b;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
    margin-bottom: .25em;
    font-family: "Roboto", Arial, sans-serif; }
  #property-side-content .buttons {
    margin: 2em 0 4em; }
    @media screen and (max-width: 50em) {
      #property-side-content .buttons {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; } }
  #property-side-content .button {
    display: block;
    color: #d1ac7b;
    background: rgba(209, 172, 123, 0.3);
    border: 1px solid #d1ac7b;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #d1ac7b;
    border: 1px solid #d1ac7b;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    #property-side-content .button:hover {
      color: #d1ac7b;
      background: rgba(209, 172, 123, 0.3); }
    #property-side-content .button:active, #property-side-content .button:focus {
      color: #d1ac7b;
      background: rgba(209, 172, 123, 0.3); }
  @media screen and (max-width: 50em) {
    #property-side-content .sep {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }

.property-map {
  background: #f5f5f5;
  margin-bottom: 1em; }
  .property-map address {
    margin-bottom: 1em; }
  .property-map .inner {
    padding: 1em; }
  @media screen and (max-width: 50em) {
    .property-map {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; } }

.property-gallery {
  background: #f5f5f5;
  margin-bottom: 2em; }
  .property-gallery .soliloquy-thumbnails-container {
    margin: 2em 1em; }
  .property-gallery li:before {
    display: none; }

.property-testimonial {
  padding: 0 2em 1em; }
  .property-testimonial .info {
    text-transform: uppercase;
    letter-spacing: 2px; }
  .property-testimonial .name, .property-testimonial .location {
    font-weight: 300; }
  .property-testimonial .quote {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-style: italic;
    margin-bottom: 1em;
    font-size: 1.25em;
    font-family: 'Crimson Text'; }

.property-meta {
  background: #a79687;
  color: #FFFFFF;
  padding: 1em; }
  .property-meta .content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 30em) {
      .property-meta .content-wrapper {
        -webkit-flex-wrap: no-wrwap;
            -ms-flex-wrap: no-wrwap;
                flex-wrap: no-wrwap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .property-meta .facilities {
    font-family: "Roboto", Arial, sans-serif; }
    .property-meta .facilities .facility {
      margin-right: 1em;
      font-size: 1.25em; }
      .property-meta .facilities .facility::before {
        margin-right: .25em; }
  .property-meta .social .icon {
    font-size: 1.25em;
    background: #FFFFFF;
    padding: .25em;
    display: inline-block;
    width: 2em;
    height: 2em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #a79687;
    line-height: 1;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
    @media screen and (min-width: 30em) {
      .property-meta .social .icon {
        margin-left: 1em; } }
    .property-meta .social .icon:hover {
      color: #FFFFFF;
      background: transparent; }
  .property-meta .social .book-now {
    padding: 1em;
    width: auto; }
  .property-meta .social .icon.link {
    display: none; }

.key-features {
  padding-top: 0; }
  @media screen and (max-width: 50em) {
    .key-features {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }
  .key-features ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .key-features li {
    padding-left: 1em;
    position: relative;
    margin-bottom: 1em; }
  .key-features li::before {
    position: absolute;
    left: 0;
    content: '\f1db';
    font-family: 'FontAwesome';
    color: #d1ac7b;
    font-size: .75em;
    vertical-align: middle; }

@media screen and (max-width: 50em) {
  .amenities {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; } }
.amenities ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.amenities li {
  padding-left: 1em;
  position: relative;
  margin-bottom: 1em; }
.amenities li::before {
  position: absolute;
  left: 0;
  content: '\f1db';
  font-family: 'FontAwesome';
  color: #d1ac7b;
  font-size: .75em;
  vertical-align: middle;
  font-weight: normal; }

.magnific {
  position: relative;
  background-color: #FFFFFF;
  background-image: url("img/prairiewood-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 1em center;
  width: auto;
  max-width: 50em;
  margin: 1em auto; }
  .magnific .inner {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9); }
  .magnific .title {
    font-size: 1.5em;
    text-align: center; }
  .magnific .key .square {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .magnific .key .square:before {
      content: '';
      width: 1em;
      height: 1em;
      float: none;
      position: static;
      font-size: 1em;
      margin: 0;
      margin-right: .5em; }
    .magnific .key .square.green:before {
      background-color: #7e8b5d; }
    .magnific .key .square.red:before {
      background-color: #9c4847; }

.rates-table td {
  width: calc(100%/3); }

#full-map-popup img {
  display: block; }

@media screen and (min-width: 50em) {
  .key-features, .amenities {
    width: 50%;
    float: left; } }

.tax-pwdynamic .entry-content {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
.tax-pwdynamic .dynamic-wrapper {
  font-size: 0;
  margin: 0 auto; }
.tax-pwdynamic .inline {
  display: inline-block;
  height: 0;
  cursor: pointer;
  width: 100%;
  padding-top: 100%;
  font-size: 1rem;
  position: relative;
  background-size: cover;
  border: 1px solid #FFFFFF;
  -webkit-transform: translateY(0);
          transform: translateY(0); }
  @media screen and (min-width: 500px) {
    .tax-pwdynamic .inline {
      width: calc(100%/2);
      padding-top: calc(100%/2); } }
  @media screen and (min-width: 960px) {
    .tax-pwdynamic .inline {
      width: calc(100%/3);
      padding-top: calc(100%/3); } }
  @media screen and (min-width: 1500px) {
    .tax-pwdynamic .inline {
      width: 25%;
      padding-top: 25%; } }
  .tax-pwdynamic .inline.template-pwproperty:before, .tax-pwdynamic .inline.template-pwdynamicblock:before, .tax-pwdynamic .inline.template-post:before, .tax-pwdynamic .inline.template-pwpackage:before {
    content: '';
    position: absolute;
    background: rgba(68, 68, 68, 0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .tax-pwdynamic .inline.template-pwdynamicblock:before {
    background: rgba(156, 72, 71, 0.85); }
  .tax-pwdynamic .inline.template-post:before {
    background: rgba(126, 139, 93, 0.75);
    /* Design Audit */
    background: rgba(92, 102, 68, 0.75); }
  .tax-pwdynamic .inline.template-pwpackage:before {
    background: rgba(209, 172, 123, 0.85);
    /* Design Audit */
    background: rgba(130, 95, 73, 0.75); }
  .tax-pwdynamic .inline.template-attachment {
    cursor: auto; }
  .tax-pwdynamic .inline:not(.template-attachment):after {
    content: '';
    background-image: url(img/down-arrow.svg);
    background-size: contain;
    font-family: 'FontAwesome';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: .5em;
    color: #FFFFFF;
    font-size: 1.5em;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    font-weight: 200;
    height: 1.5em;
    width: 1.5em; }
  .tax-pwdynamic .inline:hover:after {
    -webkit-transform: translateX(-50%) translateY(-0.25em);
            transform: translateX(-50%) translateY(-0.25em); }
  .tax-pwdynamic .inline.open:after {
    -webkit-transform: translateX(-50%) rotate(-180deg);
            transform: translateX(-50%) rotate(-180deg); }
  .tax-pwdynamic .inline.closed:after {
    -webkit-transform: translateX(-50%) rotate(-360deg);
            transform: translateX(-50%) rotate(-360deg); }
  .tax-pwdynamic .inline .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    padding: 1em; }
    .tax-pwdynamic .inline .inner .tagline {
      font-weight: 200; }
    .tax-pwdynamic .inline .inner .quote {
      text-align: justify;
      /* Design Audit Adjustments */
      text-align: center; }
    .tax-pwdynamic .inline .inner .title {
      text-align: center;
      font-size: 2em;
      font-weight: 200; }
    .tax-pwdynamic .inline .inner .info {
      text-align: right;
      font-style: italic;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin-top: 2em; }
    .tax-pwdynamic .inline .inner .from {
      font-family: "Crimson Text", Georgia, serif;
      font-style: italic; }
  .tax-pwdynamic .inline.template-pwtestimonial {
    background-color: #a79687; }
    .tax-pwdynamic .inline.template-pwtestimonial .inner {
      /* Design Audit Adjustments */
      font-size: 1.25em;
      padding-left: 1.5em;
      padding-right: 1.5em; }
      .tax-pwdynamic .inline.template-pwtestimonial .inner .info {
        font-size: 50%; }
  .tax-pwdynamic .inline.template-pwproperty {
    background-color: #7e8b5d; }
.tax-pwdynamic .expanded-block {
  font-size: 1rem;
  background: #FFFFFF;
  width: 100%;
  display: none;
  overflow: hidden; }
  .tax-pwdynamic .expanded-block.open {
    max-height: 1000px; }
  .tax-pwdynamic .expanded-block .inner {
    padding: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    @media screen and (min-width: 500px) {
      .tax-pwdynamic .expanded-block .inner {
        padding: 2em; } }
    @media screen and (min-width: 500px) {
      .tax-pwdynamic .expanded-block .inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .tax-pwdynamic .expanded-block .inner > * {
          width: 48%; } }
    .tax-pwdynamic .expanded-block .inner .attachment-image {
      width: 100%; }
  .tax-pwdynamic .expanded-block .post-title {
    font-size: 2em;
    color: #d1ac7b; }
  .tax-pwdynamic .expanded-block.template-pwtestimonial blockquote {
    background: none;
    border: none; }
  .tax-pwdynamic .expanded-block.template-pwtestimonial .inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .tax-pwdynamic .expanded-block.template-pwtestimonial .info {
    margin-top: 1em;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal; }
  .tax-pwdynamic .expanded-block.template-pwtestimonial .quote {
    font-size: 1em; }
.tax-pwdynamic .quote {
  font-family: 'Crimson Text';
  font-style: italic; }

.simcal-calendar-grid .simcal-today > div {
  border-color: #7e8b5d !important; }
.simcal-calendar-grid .simcal-today.simcal-today-has-events > div {
  border: 5px solid #7e8b5d !important; }
.simcal-calendar-grid .simcal-today .simcal-day-label {
  background-color: #7e8b5d !important; }
.simcal-calendar-grid .simcal-nav-button i {
  color: #d1ac7b; }
.simcal-calendar-grid .simcal-day-has-events {
  position: relative;
  overflow: hidden;
  background: #9c4847;
  color: #FFFFFF;
  text-transform: uppercase; }
  .simcal-calendar-grid .simcal-day-has-events .simcal-day-label {
    position: relative;
    z-index: 10;
    background: #d1ac7b !important;
    margin-bottom: .25em; }
  .simcal-calendar-grid .simcal-day-has-events li {
    text-align: center; }
    .simcal-calendar-grid .simcal-day-has-events li:before {
      display: none; }

.single-pwpackage .entry-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 50em) {
    .single-pwpackage .entry-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media screen and (max-width: 30em) {
    .single-pwpackage .entry-content h1 {
      font-size: 2em; } }
  .single-pwpackage .entry-content .sep {
    margin-top: 3em;
    margin-bottom: 2em;
    width: 100%; }
.single-pwpackage .content-wrapper {
  max-width: 80em; }

#package-main-content {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

#package-side-content {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 50em) {
    #package-side-content {
      max-width: 30%; } }
  #package-side-content .sidebar-item {
    padding-left: 2em;
    padding-right: 2em; }
  #package-side-content .sidebar-title {
    color: #d1ac7b;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
    margin-bottom: .25em;
    font-family: "Roboto", Arial, sans-serif; }
  #package-side-content .buttons {
    margin: 2em 0 4em; }
    @media screen and (max-width: 50em) {
      #package-side-content .buttons {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; } }
  #package-side-content .button {
    display: block;
    color: #d1ac7b;
    background: rgba(209, 172, 123, 0.3);
    border: 1px solid #d1ac7b;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #d1ac7b;
    border: 1px solid #d1ac7b;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    #package-side-content .button:hover {
      color: #d1ac7b;
      background: rgba(209, 172, 123, 0.3); }
    #package-side-content .button:active, #package-side-content .button:focus {
      color: #d1ac7b;
      background: rgba(209, 172, 123, 0.3); }
  @media screen and (max-width: 50em) {
    #package-side-content .sep {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }

.package-map {
  background: #f5f5f5;
  margin-bottom: 1em; }
  .package-map address {
    margin-bottom: 1em; }
  .package-map .inner {
    padding: 1em; }
  @media screen and (max-width: 50em) {
    .package-map {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; } }

.package-gallery {
  background: #f5f5f5;
  margin-bottom: 2em; }
  .package-gallery .soliloquy-thumbnails-container {
    margin: 2em 1em; }
  .package-gallery li:before {
    display: none; }

.package-testimonial {
  padding: 1em 2em; }
  .package-testimonial .info {
    text-transform: uppercase;
    letter-spacing: 2px; }
  .package-testimonial .name, .package-testimonial .location {
    font-weight: 300; }
  .package-testimonial .quote {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-style: italic;
    margin-bottom: 1em;
    font-size: 1.25em;
    font-family: 'Crimson Text'; }

.package-meta {
  background: #a79687;
  color: #FFFFFF;
  padding: 1em; }
  .package-meta .content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 30em) {
      .package-meta .content-wrapper {
        -webkit-flex-wrap: no-wrwap;
            -ms-flex-wrap: no-wrwap;
                flex-wrap: no-wrwap;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .package-meta .facilities .facility {
    margin-right: 1em;
    font-size: 1.25em; }
    .package-meta .facilities .facility::before {
      margin-right: .25em; }
  .package-meta .social .icon {
    font-size: 1.25em;
    background: #FFFFFF;
    padding: .25em;
    display: inline-block;
    width: 2em;
    height: 2em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #a79687;
    line-height: 1; }
    @media screen and (min-width: 30em) {
      .package-meta .social .icon {
        margin-left: 1em; } }
    .package-meta .social .icon:hover {
      color: #FFFFFF;
      background: transparent; }
  .package-meta .social .icon.link {
    display: none; }

.key-features {
  padding-top: 0; }
  @media screen and (max-width: 50em) {
    .key-features {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }
  .key-features ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .key-features li {
    padding-left: 1em;
    position: relative;
    margin-bottom: 1em; }
  .key-features li::before {
    position: absolute;
    left: 0;
    content: '\f1db';
    font-family: 'FontAwesome';
    color: #d1ac7b;
    font-size: .75em;
    vertical-align: middle; }

@media screen and (max-width: 50em) {
  .amenities {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; } }
.amenities ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.amenities li {
  padding-left: 1em;
  position: relative;
  margin-bottom: 1em; }
.amenities li::before {
  position: absolute;
  left: 0;
  content: '\f1db';
  font-family: 'FontAwesome';
  color: #d1ac7b;
  font-size: .75em;
  vertical-align: middle;
  font-weight: normal; }

.magnific {
  position: relative;
  background-color: #FFFFFF;
  background-image: url("img/prairiewood-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 1em center;
  width: auto;
  max-width: 50em;
  margin: 1em auto; }
  .magnific .inner {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9); }
  .magnific .title {
    font-size: 1.5em;
    text-align: center; }
  .magnific .key .square {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .magnific .key .square:before {
      content: '';
      width: 1em;
      height: 1em;
      float: none;
      position: static;
      font-size: 1em;
      margin: 0;
      margin-right: .5em; }
    .magnific .key .square.green:before {
      background-color: #7e8b5d; }
    .magnific .key .square.red:before {
      background-color: #9c4847; }

.rates-table td {
  width: calc(100%/3); }

/**
 * Footer
 */
#colophon {
  background: #a79687;
  color: #FFFFFF; }
  #colophon .site-info {
    text-align: center;
    padding: 2em 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  #colophon .sep {
    display: none; }
  #colophon .phone a {
    color: #FFFFFF;
    text-decoration: none; }
  @media screen and (min-width: 50em) {
    #colophon .site-info {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; }
    #colophon .sep {
      font-size: 50%;
      margin: 0 2em;
      vertical-align: middle;
      display: inline-block; } }
  #colophon .agency-credit {
    text-align: center;
    margin-bottom: 2em;
    font-size: .6em; }
    #colophon .agency-credit a {
      color: #FFFFFF;
      text-decoration: none; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

.page-template-template-gallery .gallery-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 4em 0; }
.page-template-template-gallery .gallery-link {
  display: block;
  background-size: cover;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 20em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1em solid #FFFFFF;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-bottom: 4em;
  text-decoration: none; }
  @media screen and (min-width: 50em) {
    .page-template-template-gallery .gallery-link {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 45%;
          -ms-flex: 0 1 45%;
              flex: 0 1 45%; } }
  .page-template-template-gallery .gallery-link:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(68, 68, 68, 0.75); }
  .page-template-template-gallery .gallery-link:hover .hover-wrapper:after {
    bottom: 0.25em;
    top: 0.25em; }
  .page-template-template-gallery .gallery-link:hover .hover-wrapper:before {
    right: 0.25em;
    left: 0.25em; }
  .page-template-template-gallery .gallery-link:hover .bottom-right:before {
    right: .25em; }
  .page-template-template-gallery .gallery-link:hover .bottom-right:after {
    top: .25em; }
  .page-template-template-gallery .gallery-link .bottom-right:before {
    position: absolute;
    bottom: .25em;
    right: 100%;
    left: .25em;
    content: '';
    height: 1px;
    background: #FFFFFF;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
  .page-template-template-gallery .gallery-link .bottom-right:after {
    position: absolute;
    bottom: .25em;
    right: .25em;
    content: '';
    width: 1px;
    background: #FFFFFF;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    top: 100%; }
  .page-template-template-gallery .gallery-link .hover-wrapper {
    display: block;
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 1.5em;
    padding: .5em 1em;
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;
    z-index: 10; }
    .page-template-template-gallery .gallery-link .hover-wrapper:after {
      position: absolute;
      top: .25em;
      left: .25em;
      content: '';
      width: 1px;
      background: #FFFFFF;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      bottom: 100%; }
    .page-template-template-gallery .gallery-link .hover-wrapper:before {
      position: absolute;
      top: .25em;
      right: .25em;
      left: 100%;
      content: '';
      height: 1px;
      background: #FFFFFF;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
.page-template-template-gallery .gallery-title {
  font-family: "Crimson Text", Georgia, serif;
  color: #FFFFFF;
  font-size: 1.5em;
  z-index: 10; }

/***************************
******* FUN STUFF :D *******
***************************/
.page-template-template-gallery-fun .gallery-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 8em 0; }
.page-template-template-gallery-fun .gallery-link {
  display: block;
  background-size: cover;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45%;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  height: 20em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1em solid #FFFFFF;
  box-shadow: 0 0 30px -5px #444;
  position: relative;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-bottom: 4em; }
  .page-template-template-gallery-fun .gallery-link:nth-child(2n) {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
  .page-template-template-gallery-fun .gallery-link:after {
    content: '';
    width: 102%;
    height: 3em;
    background: #FFFFFF;
    position: absolute;
    bottom: -1px;
    left: -1%; }
  .page-template-template-gallery-fun .gallery-link:hover {
    -webkit-transform: rotate(0deg) scale(1.1) !important;
            transform: rotate(0deg) scale(1.1) !important;
    z-index: 1000; }
.page-template-template-gallery-fun .gallery-title {
  position: absolute;
  bottom: .5em;
  color: #444;
  font-weight: bold;
  font-family: cursive;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

#envirabox-buttons ul li:before {
  content: none;
  display: none; }

#envirabox-thumbs ul li:before {
  content: none;
  display: none; }

.envirabox-wrap.envirabox-opened .envirabox-skin {
  box-shadow: none; }
.envirabox-wrap .envirabox-skin {
  background: none; }

.envirabox-overlay {
  background: #000 !important; }

body {
  background-color: #FFFFFF; }

@-webkit-keyframes bounce {
  from, 0%, 100%, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  25%, 75% {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0); }
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0); } }

@keyframes bounce {
  from, 0%, 100%, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  25%, 75% {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0); }
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0); } }
.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@media print {
  #colophon, #masthead, .property-gallery, .property-meta, .property-testimonial, .buttons {
    display: none; }

  .entry-header {
    padding: 0 !important; }

  .hide-for-print {
    display: none; } }
