.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}


.page-template-template-gallery {
	
	.gallery-grid {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 4em 0;
	}

	.gallery-link {
		display: block;
		background-size: cover;
		flex: 0 0 100%;
		height: 20em;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1em solid $white;
		position: relative;
		transition: all .2s ease;
		margin-bottom: 4em;
		text-decoration: none;

		@media screen and (min-width: $medium){
			flex: 0 1 45%;
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba( $black, .75 );
		}

		&:hover {
			
				.hover-wrapper:after {
					bottom: 0.25em;
					top: 0.25em;
				}

				.hover-wrapper:before {
					right: 0.25em;
					left: 0.25em;
				}

				.bottom-right:before {
					right: .25em;
				}

				.bottom-right:after {
					top: .25em;
				}
		}

		.bottom-right {

			&:before {
				position: absolute;
				bottom: .25em;
				right: 100%;
				left: .25em;
				content: '';
				height: $home-hover-border-width;
				background: $white;
				transition: all $home-hover-border-speed ease;
			}
			
			&:after {
				position: absolute;
				bottom: .25em;
				right: .25em;
				content: '';
				width: $home-hover-border-width;
				background: $white;
				transition: all $home-hover-border-speed ease;
				top: 100%;
			}
		}

		.hover-wrapper {
			display: block;
			text-decoration: none;
			position: relative;
			color: white;
			// font-family: $font__serif;
			font-size: 1.5em;
			padding: .5em 1em;
			font-weight: 200;
			text-transform: capitalize;
			text-align: center;
			z-index: 10;

			&:after {
				position: absolute;
				top: .25em;
				left: .25em;
				content: '';
				width: $home-hover-border-width;
				background: $white;
				transition: all $home-hover-border-speed ease;
				bottom: 100%;
			}

			&:before {
				position: absolute;
				top: .25em;
				right: .25em;
				left: 100%;
				content: '';
				height: $home-hover-border-width;
				background: $white;
				transition: all $home-hover-border-speed ease;
			}
		}

	}

	.gallery-title {
		font-family: $font__serif;
		color: $white;
		font-size: 1.5em;
		z-index: 10;
	}
}

/***************************
******* FUN STUFF :D *******
***************************/

.page-template-template-gallery-fun {

	.gallery-grid {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 8em 0;
	}

	.gallery-link {
		display: block;
		background-size: cover;
		flex: 0 1 45%;
		height: 20em;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1em solid $white;
		box-shadow: 0 0 30px -5px $black;
		position: relative;
		transform: rotate(-2deg);
		transition: all .2s ease;
		margin-bottom: 4em;

		&:nth-child(2n){
			transform: rotate(2deg);
		}

		&:after {
			content: '';
			width: 102%;
			height: 3em;
			background: $white;
			position: absolute;
			bottom: -1px;
			left: -1%;
		}

		&:hover {
			transform: rotate(0deg) scale(1.1) !important;
			z-index: 1000;
		}
	}

	.gallery-title {
		position: absolute;
		bottom: .5em;
		color: $black;
		font-weight: bold;
		font-family: cursive;
		z-index: 10;
		left: 50%;
		transform: translateX(-50%);
	}

}

#envirabox-buttons ul li {

	&:before {
		content: none;
		display: none;
	}
}
#envirabox-thumbs ul li {
	&:before {
		content: none;
		display: none;
	}
}
.envirabox-wrap {
	&.envirabox-opened .envirabox-skin {
		box-shadow: none;
	}

	.envirabox-skin {
		background: none;
	}
}

.envirabox-overlay {
	background: #000 !important;
}
