// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Home Page
--------------------------------------------------------------*/
@import "primary/home";

@import "primary/property";

@import "primary/pwdynamic";

@import "primary/calendar";

@import "primary/package";

/**
 * Footer
 */

#colophon {
	background: $brown;
	color: $white;

	.site-info {
		text-align: center;
		padding: 2em 1em; 
		display: flex;
		flex-direction: column;
	}

	.sep {
		display: none;
	}

	.phone a {
		color: $white;
		text-decoration: none;
	}

	@media screen and (min-width: $medium){

		.site-info {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.sep {
			font-size: 50%;
			margin: 0 2em;
			vertical-align: middle;
			display: inline-block;
		}

	}

	.agency-credit {
		text-align: center;
		margin-bottom: 2em;
		font-size: .6em;

		a {
			color: $white;
			text-decoration: none;
		}
	}
}