ul, ol {
	margin: 0 0 1.5em 1em;
	padding: 0;
}

ul {
	list-style: disc;
	margin-left: 0;

	li {
		list-style-type: none;
		margin-left: 1.5em;

		&:before {
			content:'\f1db';
			font-family: 'FontAwesome';
			float: left;
			margin-left: -1.5em;
			font-size: 75%;
			margin-top: .25em;
			color: $gold;
		}
	}
}

ol {
	list-style: decimal;
}

li + li {
	margin-top: .5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}