$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;


$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$dark-bg : #58585a;
$red: #9c4847;
$black: #444;
$white : #FFFFFF;
$thin-sans-serif: 'Roboto';
$green: #7e8b5d;
$brown: #a79687;
$gold: #d1ac7b;
$light-gray: #f5f5f5;

$menu-gradient: $white; //linear-gradient( to left, lighten( $dark-bg, 10% ), darken( $dark-bg, 10% ) );
$menu-container-bg: #505050;
$menu-container-bg: rgba( $white, .9 );


$menu-link-color: $dark-bg;

$menu-link-hover-color: $dark-bg;

$menu-toggle-color: $dark-bg;

$menu-dropdown-toggle-color: $dark-bg;

$font__main: 'Roboto', Arial, sans-serif;
$font__headers: 'Crimson Text', Georgia, serif;
$font__serif: 'Crimson Text', Georgia, serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$color__link: $green;
$color__link-hover: lighten($green, 10%);
$color__link-visited: $green;

$size__site-main: 100%;
$size__site-sidebar: 25%;

$menu-width: 20em;

$menu-width: 24em;

$menu-transition-time: 500ms;

$content-width: 60em;

$property-width: 80em;

$employee-width: 80em;

$dynamic-width: 80em;

$large: 80em;

$medium: 50em;

$small: 30em;

$home-hover-border-width: 1px;
$home-hover-border-speed: 300ms;

