.nav-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-width: $menu-width;
	height: 100%;
	overflow: hidden;
	z-index: 100;
	pointer-events: none;

	.menu-toggled & {
		pointer-events: auto;
	}
}

.menu-toggle {
	display: block;
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding: 1em;
	text-shadow: none;
	line-height: 1;
	text-transform: uppercase;
	// top: 1em;
	right: 1em;
	z-index: 200;
	color: $white;
	font: 300 1em/1 'Roboto';
	letter-spacing: 1px;
	transition: all $menu-transition-time ease;
	transform: translateX(-8em);
	position: static;
	position: relative;
 	margin-top: 1.75em;
 	pointer-events: auto;

 	&:focus, &:active {
 		color: $white;
 		outline: none;
 		background: none;
 	}

	.menu-toggled & {
		margin-top: 1.75em;
		margin-left: 1em;
		right: 0;
		transform: translateX(0);

		color: $menu-toggle-color;

		.bounce {
			animation: none;
		}

		&:hover {
			background: rgba( $white, .2 );
			color: $menu-toggle-color;
		}

		&:focus, &:active {
			color: $menu-toggle-color;
		}
	}

	.inner-text, .fa {
		display: inline-block;
	}

	.admin-bar & {
	//	top: 3em;
	}

	&:hover, &:active, &:focus {
		box-shadow: none;
		border: none;
		background: none;
		color: $white;
	}

	.fa {
		margin-left: 1em;
	}
}

#site-navigation {
	background: $menu-container-bg;
	padding: 1em 0;
	position: absolute;
	height: 100%;
	width: 100%;
	max-width: $menu-width;
	top: 0;
	transition: all $menu-transition-time ease-in-out;
	right: 0;
	transform: translateX($menu-width);
	// border-left: 1em solid $green;
	//overflow-x: visible;
	// animation: change-background 10s infinite;
	
	&:after {
		content: '';
		background-image: url('img/texture.png');
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .02;
		pointer-events: none;
	}
	

	.admin-bar & {
		padding-top: 3em;
	}

	&.toggled {	
		-webkit-overflow-scrolling: touch;
		transform: translateX(0em);
		overflow-y: scroll;
		position: fixed;

		#primary-menu {
			opacity: 1;
		}

		a, .a {
			padding: 1em 2em;
		}

		.social {
			transform: scale(1);
		}
	}

	.main-navigation {
		clear: both;
		display: block;
		width: 100%;
	}

	#primary-menu {
		list-style: none;
		// background: $menu-container-bg;
		margin: 0;
		padding: 0;
		margin-top: 1em;
		padding-top: 1em;
		margin-bottom: 2em;
		position: relative;
		z-index: 20;
		opacity: 0;
		transition: all 1.25s ease-in-out;

		.sub-menu {
			margin: 0;
			padding: 0;
			display: none;
			// max-height: 0;
			transition: all .5s ease-in-out;
			background: rgba( $white, .2 );
			// transform: scaleY(0);
			transform-origin: top;
			overflow: hidden;
			// height: 0;
			// visibility: hidden;

			&.toggled-on {
				// transform: scaleY(1);
				display: block;
				// height: 0;
				// max-height: 1000px;
			}

			li a, li .a {
				padding-left: 3em;
				@media screen and (min-width: 9999px){
					padding-left: 2em;
				}
			}

			.sub-menu li a {
				padding-left: 5em;
				@media screen and (min-width: 9999px){
					padding-left: 2em;
				}
			}
		}
	}

	ul {
		display: block;
	}

	li {
		position: relative;
		display: block;
		margin: 0;
		
		&:before {
			display: none;
		}

		+ li a {
			// margin-top: 1em;
		}
	}

	a, .a {
		display: block;
		color: $menu-link-color;
		text-decoration: none;
		padding: 1em 3em;
		padding: 1em 2em;
		padding: 0 1em;
		font-weight: 300;
		line-height: 1;
		vertical-align: middle;
		transition: all 200ms ease, padding 1s ease;
		text-transform: uppercase;
		letter-spacing: 1px;

		&:hover {
			background: rgba( $white, .2 );
			color: $menu-link-hover-color;
		}

		@media screen and (min-width: 9999px){
			padding: 1em 2em;
		}
	}

	.current-menu-item > a, .current-menu-item > .a {
		font-weight: 700;
	}

	.social {
		display: flex;
		justify-content: center;
		transform: scale(0);
		transition: all 1s ease;
		font-size: 2em;

		a {
			flex: 0 1 auto;
			padding: .25em;
			margin: 0 1em;
			transition: color .3s ease;
		}

		.instagram:hover {
			color: #517fa4;
		}

		.facebook:hover {
			color: #3b5998;
		}

		.pinterest:hover {
			color: #cb2027;
		}
	}
}

// body.menu-toggled {
// 	overflow-x: hidden;
// 	overflow-y: hidden;
// 	width: 100%;
// 	height: 100%;
// }

#page {
	position: relative;
	transition: margin-right $menu-transition-time ease;
	// margin-right: 0;

	.menu-toggled & {
		//margin-right: $menu-width;
	}
}



/**
 * Comment Navigation
 */

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.admin-bar {

	.menu-toggle {
		margin-top: 0;
	}
}

.dropdown-toggle {
	position: absolute;
	right: 1em;
	top: .5em;
	width: 2em;
	height: 2em;
	background: $menu-container-bg;
	background: transparent;
	color: $menu-dropdown-toggle-color;
	border-color: $menu-dropdown-toggle-color;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	.sub-menu & {
		@media screen and (min-width: 9999px){
			right: 5px;
		}
	}

	@media screen and (min-width: 9999px){
		right: 0;
	}

	&:hover, &:active, &:focus {
		color: $menu-dropdown-toggle-color;
	}

	&:after {
		content:"\f107";
		font-family: "FontAwesome";
		font-size: 1.5em;
		transition: transform .4s ease-in-out;
		flex: 1 1 2em;
	}

	&.toggle-on:after {
		transform: rotate(-180deg);
	}
}

@keyframes change-background {
	0%, 100% {
		// animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		background-color: $red;
	}

	25% {
		// animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		background-color: $green;
	}

	50% {
		// animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		background-color: $brown;
	}

	75% {
		background-color: $gold;
	}

}

@media screen and (min-width: 9999px){

	#site-navigation {
		text-align: center;

		#primary-menu {
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.menu-toggled {
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
	height: 100vh;
	width: 100%;
}

.open-menu-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba( #000, .5 );
	opacity: 0;
	transition: all .6s linear;
	z-index: -10;

	.menu-toggled & {
		opacity: 1;
		z-index: 20;
	}
}

