.menu-toggle {
	display: block;
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding: 1em;
	text-shadow: none;
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 10;
	color: $white;
	font: 300 1em/1 'Roboto';
	letter-spacing: 1px;
	transition: all 200ms ease;

	.toggled & {
		//position: fixed;
		transform: translateX(-10em);
	}

	.admin-bar & {
		top: 3em;
	}

	&:hover {
		box-shadow: none;
		border: none;
	}

	.fa {
		margin-right: 1em;
	}
}

#primary-menu-container {
	background: $menu-container-bg;
	padding: 1em 0;
	position: fixed;
	height: 100%;
	width: 100%;
	max-width: 20em;
	top: 0;
	transition: all 300ms ease;
	right: -20em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	.admin-bar & {
		padding-top: 3em;
	}

	.toggled & {
		transform: translateX(-20em);
	}

	.main-navigation {
		clear: both;
		display: block;
		width: 100%;
	}

	#primary-menu {
		background: $menu-container-bg;
		margin: 0;
		padding: 0;
		margin-top: 4em;
		padding-top: 1em;
		border-top: 1px solid lighten( $menu-container-bg, 10% );
		// z-index: 20; // on top of button;
		// position: relative; // to trigger z-index
	}

	ul {
		display: block;
	}

	li {
		display: block;

		+ li a {
			// margin-top: 1em;
		}
	}

	a {
		display: block;
		color: $white;
		text-decoration: none;
		padding: 1em;
		font-weight: 300;
		line-height: 1;
		vertical-align: middle;
		transition: all 100ms ease;

		&:hover {
			background: lighten( $menu-container-bg, 10% );
		}
	}
}

body.menu-toggled {
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}



/**
 * Comment Navigation
 */

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
