/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

.site-header {
    // position: relative;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 100;
    padding-bottom: 2em;
    background-color: $brown;

    .site-title {
    	width: 100%;
    	padding-top: 50%;
    	font-size: 1em;
    	margin: 0;
    	position: relative;
        z-index: 10;

    	a {
    		position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		display: block;
    		font-size: 2em;
    		width: 100%;
    		max-width: 10em;
    		text-indent: -9999em;
    		background: url('img/logo.png');
    		background-size: contain;
    		background-repeat: no-repeat;
    	}
    }

    .site-branding {
    	width: 10em;
    	margin-left: 2em;
    	margin-top: 1em;
    }


}

// End of File