@media print {

	#colophon, #masthead, .property-gallery, .property-meta, .property-testimonial, .buttons {
		display: none;
	}

	.entry-header {
		padding: 0 !important;
	}

	.hide-for-print {
		display: none;
	}
}