.simcal-calendar-grid {
	
	.simcal-today {
		> div {
			border-color: $green !important;
		}

		&.simcal-today-has-events {
			> div {
				border: 5px solid $green !important;
			}
		}

		.simcal-day-label {
			background-color: $green !important;
		}
	}

	.simcal-nav-button i {
		color: $gold;
	}

	.simcal-day-has-events {
		position: relative;
		overflow: hidden;
		background: $red;
		color: $white;
		text-transform: uppercase;
		
		// &:before {
		// 	content: '';
		// 	width: 150%;
		// 	height: 5px;
		// 	position: absolute;
		// 	background: $red;
		// 	top: 0;
		// 	left: 0;
		// 	transform-origin: top left;
		// 	transform: rotate(45deg);
		// 	z-index: 1;
		// }

		// &:after {
		// 	content: '';
		// 	width: 150%;
		// 	height: 5px;
		// 	position: absolute;
		// 	background: $red;
		// 	top: 0;
		// 	right: 0;
		// 	transform-origin: top right;
		// 	transform: rotate(-45deg);
		// 	z-index: 1;
		// }

		.simcal-day-label {
			position: relative;
			z-index: 10;
			background: $gold !important;
			margin-bottom: .25em;
		}

		li {
			text-align: center;

			&:before {
				display: none;
			}
		}
	}

}