.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#comments {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 1em;

	label {
		display: block;
	}

	.required {
		color: $red;
	}

}

.comment-reply-title, .comments-title {
	color: $gold;
	font-size: 1.5em;
	text-align: center;
}

.comment-notes {
	margin: 0;
	text-align: center;
}

.comment-author-admin {
	// border-left: 2px solid $green;
	// background: lighten($green, 50%);
	// padding: 0 1em;
	position: relative;
	
	.fn:after {
		content: 'Staff';
		background: $green;
		color: $white;
		padding: .25em .5em 0;
		margin-left: .5em;
		// position: absolute;
		top: 0;
		right: 0;
		font-family: $font__serif;
		font-size: 75%;
		letter-spacing: 1px;
	}
}

.comment-reply-link {
	color: $gold;
	// padding: .25em .5em;
	// border: 1px solid $gold;
	// background: rgba( $gold, .30 );
	text-decoration: none;
	font-family: $font__serif;

	&:hover {
		// color: $green;
		// border: 1px solid $green;
		// background: rgba( $green, .30 );
	}
}

.comment-list {
	list-style: none;
	margin: 0;

	.children {
		list-style: none;
		border-left: 2px solid $gold;
		margin-left: 0;
		padding-left: 1em;

		.children {
			padding-left: 0;
			border-left: none;
		}
	}

	.comment-body {
		padding: 1em 0;
	}

	.comment-author {
		display: flex;
		align-items: center;

		.avatar {
			margin-right: 1em;
		}

		.fn {
			margin-right: .25em;

			a {
				color: inherit;
				text-decoration: none;
				font-weight: normal;
			}
		}
	}

	.comment-metadata {
		display: none;
	}
}

// end of file