body.home {


	#masthead {
		background: transparent;
		height: 0;
		overflow: visible;
		left: 0;
		right: 0;
		padding: 0;
		z-index: 100;
	}

	#page {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	#content {
		flex: 1 0 auto;
		display: flex;
		align-items: stretch;
		justify-content: center;
		background: $red;
		// IE 10 & 11 Fix
		-ms-flex-preferred-size: 90vh;
	}
	#primary {
		width: 100%;
	}

	#main {
		// display: flex;
		// flex-direction: column;
		// min-height: 100vh;
	}

	#video-container {
		height: 50vh;
		// background: $red;
		width: 100%;
		display: flex;
		align-items: center;
		// meeting adjustment 4/12
		align-items: flex-end;
		justify-content: center;

		@media (max-width: $medium) and (orientation: landscape) { 
			height: 75vh;
		}

		.vide {
			z-index: 10 !important;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			// background: rgba( $red, .75 );
			background: rgba( #000, .5 );
			z-index: 11;
		}
	}

	.tiny-text {
		font-size: 16px;
	}

	#call-to-action {
		// border: 1px solid $white;
		color: $white;
		font-size: 1.5em;
		padding: .5em 1em;
		font-weight: 200;
		text-transform: capitalize;
		z-index: 12;
		position: relative;
		text-align: center;
		margin-bottom: 2em;

		@media screen and (min-width: $medium){
			font-size: 3em;
		}
	}

	.dynamic-cats-wrap {
	//	height: 25vh;
	}

	#colophon {
		position: absolute;
		bottom: -10.25em;
		left: 0;
		right: 0;

		@media screen and (min-width: 1250px){
			bottom: -7.25em;
		}
	}

	.full-video-modal {
		color: rgba( $white, .5 );
		color: $white;
		//font-size: 75%;
		z-index: 20;
		position: absolute;
		bottom: 1em;
		right: 2em;
		text-decoration: none;
		font-weight: 100;
	}

	.magnific {
		background: none;

		.inner {
			background: transparent;
		}

		.mfp-close {
			color: $white;
		}
	}

	.mfp-bg {
		background: #000;
		opacity: 1;
	}

	#full-video-modal {
		max-width: 85%;
	}
}

.menu-toggled.home .full-video-modal {
	z-index: 0;
}

.bottom-right {

	&:before {
		position: absolute;
		bottom: .25em;
		right: 100%;
		left: .25em;
		content: '';
		height: $home-hover-border-width;
		background: $white;
		transition: all $home-hover-border-speed ease;
	}
	
	&:after {
		position: absolute;
		bottom: .25em;
		right: .25em;
		content: '';
		width: $home-hover-border-width;
		background: $white;
		transition: all $home-hover-border-speed ease;
		top: 100%;
	}
}

.dynamic-cats-wrap {
	// position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	min-height: 10em;
	width: 100%;
	align-items: stretch;
	justify-content: center;
	background: $green;
	flex-direction: column;
	position: relative;
	z-index: 20;
	overflow: hidden;

	@media screen and (min-width: 1250px){
		//display: flex;
		flex-direction: row;
	}
	

	.dynamic-cat {
		flex: 1;
		padding: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		position: relative;
		text-decoration: none;

		@media screen and (max-width: 1249px){
			min-height: 40vh;	
		}
		

		+ .dynamic-cat {

			@media screen and (min-width: 1250px){
				border-left: 2px solid $white;
			}

		}

		&:hover {

			.hover-wrapper:after {
				bottom: 0.25em;
				top: 0.25em;
			}

			.hover-wrapper:before {
				right: 0.25em;
				left: 0.25em;
			}

			.bottom-right:before {
				right: .25em;
			}

			.bottom-right:after {
				top: .25em;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba( $black, .75 );
			z-index: 1;
			transition: background 1s ease;
		}

		&.light-sweep:after {
			background: rgba( $black, .35 );
		}

		.inner {
			position: relative;
			z-index: 10;
		}

		.hover-wrapper {
			display: block;
			text-decoration: none;
			position: relative;
			color: white;
			// font-family: $font__serif;
			font-size: 1.5em;
			padding: .5em 1em;
			font-weight: 200;
			text-transform: capitalize;
			text-align: center;

			&:after {
				position: absolute;
				top: .25em;
				left: .25em;
				content: '';
				width: $home-hover-border-width;
				background: $white;
				transition: all $home-hover-border-speed ease;
				bottom: 100%;
			}

			&:before {
				position: absolute;
				top: .25em;
				right: .25em;
				left: 100%;
				content: '';
				height: $home-hover-border-width;
				background: $white;
				transition: all $home-hover-border-speed ease;
			}
		}
	}
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.home {
		#video-container {
			min-height: 75vh;
		}
		#call-to-action {
			margin-top: 1em;
		}
	}
}

@media only screen and (min-device-width: 320px) 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  	.home {
		#video-container {
			min-height: 75vh;
		}
  		#call-to-action {
  			margin-top: 4em;
  			margin-bottom: 2em;
  		}
  	}
}

#mobile-slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 75vh;

	.slick-slide {
		height: 75vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

// end of file