.single-pwpackage {


	.entry-content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		@media screen and ( min-width: $medium ) {
			flex-direction: row;
		}

		@media screen and ( max-width: $small ){
			// smaller h1 on small screens
			h1 {
				font-size: 2em;
			}
		}

		.sep {
			margin-top: 3em;
			margin-bottom: 2em;
			width: 100%;
		}

	}

	.content-wrapper {
		max-width: $property-width;
	}

}

#package-main-content {
	max-width: 100%;
	flex: 1;

	// @media screen and ( min-width: $medium ) {
	// 	max-width: 70%;
	// 	margin-right: 2em;
	// }
	
}

#package-side-content {
	max-width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	
	@media screen and ( min-width: $medium ) {
		max-width: 30%;
	}

	.sidebar-item {
		padding-left: 2em;
		padding-right: 2em;
	}

	.sidebar-title {
		color: $gold;
		font-weight: 300;
		font-size: 2em;
		margin: 0;
		margin-bottom: .25em;
		// text-align: center;
		font-family: $font__main;
	}

	.buttons {
		margin: 2em 0 4em;

		@media screen and (max-width: $medium){
			order: 3;
		}

	}

	.button {
		display: block;
		color: $gold;
		background: rgba( $gold, .30 );
		border: 1px solid $gold;
		padding: 1em 2em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
		// background: rgba( $gold, .30 );
		background: $gold;
		border: 1px solid $gold;
		padding: 1em 2em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: $gold;
			background: rgba( $gold, .30 );
		}

		&:active,
		&:focus {
			color: $gold;
			background: rgba( $gold, .30 );
		}
	}

	.sep {
		@media screen and (max-width: $medium){
			order: 2;
		}
	}

}

.package-map {
	background: $light-gray;
	margin-bottom: 1em;

	address {
		margin-bottom: 1em;
	}

	.inner {
		padding: 1em;
	}

	@media screen and (max-width: $medium){
		order: 3;
	}
}

.package-gallery {
	background: $light-gray;
	margin-bottom: 2em;

	.soliloquy-thumbnails-container {
		margin: 2em 1em;
	}

	li:before {
		display: none;
	}
}

.package-testimonial {
	padding: 1em 2em;

	.info {
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.name, .location {
		font-weight: 300;
	}

	.quote {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		font-style: italic;
		margin-bottom: 1em;
		font-size: 1.25em;
		font-family: 'Crimson Text';
	}
}

.package-meta {
	background: $brown;
	color: $white;
	padding: 1em;

	.content-wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;

		@media screen and (min-width: $small){
			flex-wrap: no-wrwap;
			justify-content: flex-end;
		}
	}

	.facilities {
		
		.facility {
			margin-right: 1em;
			font-size: 1.25em;

			&::before {
				margin-right: .25em;
			}
		}
	}

	.social {
		
		.icon {
			font-size: 1.25em;
			background: $white;
			padding: .25em;
			display: inline-block;
			width: 2em;
			height: 2em;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: $brown;
			line-height: 1;

			@media screen and (min-width: $small){
				margin-left: 1em;
			}

			&:hover {
				color: $white;
				background: transparent;
			}
		}
		
		// hide the link icon :(
		.icon.link {
			display: none;
		}
	}
}

.key-features {

	@media screen and (max-width: $medium){
		order: 1;
	}

	padding-top: 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding-left: 1em;
		position: relative;
		margin-bottom: 1em;
	}

	li::before {
		position: absolute;
		// top: -0.25em;
		left: 0;
		content: '\f1db';
		font-family: 'FontAwesome';
		color: $gold;
		font-size: .75em;
		vertical-align: middle;
	}

}

.amenities {
	@media screen and (max-width: $medium){
		order: 2;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding-left: 1em;
		position: relative;
		margin-bottom: 1em;
	}

	li::before {
		position: absolute;
		// top: -0.15em;
		left: 0;
		content: '\f1db';
		font-family: 'FontAwesome';
		color: $gold;
		font-size: .75em;
		vertical-align: middle;
		font-weight: normal;
	}

}

.magnific {
	position: relative;
	background-color: $white;
	background-image: url('img/prairiewood-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 1em center;
	width: auto;
	max-width: $medium;
	margin: 1em auto;

	.inner {
		padding: 2em;
		background-color: rgba( $white, .9 );
	}

	.title {
		font-size: 1.5em;
		text-align: center;
	}

	.key {
		.square {
			display: inline-flex;
			align-items: center;

			&:before {
				content: '';
				width: 1em;
				height: 1em;
				float: none;
				position: static;
				font-size: 1em;
				margin: 0;
				margin-right: .5em;
			}
			&.green:before {
				background-color: $green;
			}
			&.red:before {
				background-color: $red;
			}
		}
	}
}

.rates-table {
	td {
		width: calc(100%/3);
	}
}


