.content-wrapper {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 2em;
}

.gold-color-text {
	color: $gold;
}

.light-gray-bg {
	background-color: $light-gray;
	padding: 1rem;
	margin: 0;

	+ .light-gray-bg {
		margin-top: -1em;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.centered-text {
	text-align: center;
}

.font-main {
	font-family: $font__main;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin-top: 1.5em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.single.single-post {
	#masthead, #colophon {
		background: $green;
	}

	.entry-content {
		max-width: $content-width;
		margin: 2em auto;
		padding: 0 1em;
	}

	.entry-footer {
		.seperator {
			min-height: 6em;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: .25;
			background: url('img/prairiewood-icon.png');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			margin-bottom: 4em;

			&:before, &:after {
				//position: absolute;
				content: '';
				// background: url('img/prairiewood-icon.png');
				background-color: $gold;
				background-repeat: no-repeat;
				background-size: contain;
				max-width: 12em;
				width: 30%;
				height: 10em;
				height: 1px;

				@media screen and (min-width: $medium){
					width: 50%;
					max-width: 15em;
				}
			}

			&:before {
				transform: rotate(-90deg) translateY(-2.35em);
				transform: translate( -4em, 1em );
			}

			&:after {
				// transform: rotate(90deg) translateY(-2.35em) scaleX(-1);
				transform: translate( 4em, 1em );
			}
		}
	}
}

.site-main .post-navigation, .site-main .posts-navigation {
	max-width: $content-width + ($content-width / 4);
	margin: 4em auto;
	padding: 0 2em;
	
	.nav-links {
		// overflow: hidden;
	}

	.nav-previous, .nav-next {
		width: 48%;
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $gold;
			font-family: $font__serif;
			font-size: 1.25em;
			transition: all .2s ease;

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	.nav-previous {
		a:before {
			content: '\f104';
			font-family: 'FontAwesome';
			padding-right: 1em;
		}
	}

	.nav-next {
		text-align: right;

		a {
			justify-content: flex-end;
		}
		a:after {
			content: '\f105';
			font-family: 'FontAwesome';
			padding-left: 1em;
		}
	}
}

.blog, .archive.category {
	#masthead, #colophon {
		background: $green;
	}

	#content {
		max-width: $content-width;
		padding: 2em 1em;
		margin: 0 auto;
	}

	.page-title {
		color: $gold;
		max-width: $content-width;
		text-align: center;
	}

	.site-main .posts-navigation {
		margin-left: -2em;
		margin-right: -2em;
		@media screen and (min-width: $content-width){
			margin-left: -4em;
			margin-right: -4em;
		}
	}

	.entry-header {
		display: flex;
		flex-direction: column;
	}
	.entry-title {
		order: 1;
		margin: 0;
		line-height: 1.25;
		
		a {
			color: $gold;
			text-decoration: none;
			font-size: 1.5em;
		}
	}	
	.entry-meta {
		order: 0;
		margin: 1em 0 0;
		text-transform: uppercase;

		a {
			color: inherit;
			text-decoration: none;
			// font-weight: 700;
		}
	}

	.entry-footer {
		.seperator {
			min-height: 6em;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: .25;
			background: url('img/prairiewood-icon.png');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			margin-bottom: 4em;

			&:before, &:after {
				//position: absolute;
				content: '';
				// background: url('img/prairiewood-icon.png');
				background-color: $gold;
				background-repeat: no-repeat;
				background-size: contain;
				max-width: 12em;
				width: 30%;
				height: 10em;
				height: 1px;

				@media screen and (min-width: $medium){
					width: 50%;
					max-width: 15em;
				}
			}

			&:before {
				transform: rotate(-90deg) translateY(-2.35em);
				transform: translate( -4em, 1em );
			}

			&:after {
				// transform: rotate(90deg) translateY(-2.35em) scaleX(-1);
				transform: translate( 4em, 1em );
			}
		}
	}

	.posted-on {
		letter-spacing: 2px;
	}

	.cat-links, .tag-links {
		display: block;
		font-size: 75%;
		margin: .5em 0;

		a + a {
			margin: 0 .25em;
		}
	}

	.comments-link {
		display: none;
	}

	.entry-content {
		margin-top: .5em;
	}

	.more-link {
		display: block;
		padding-top: .5em;
		color: $gold;
		text-decoration: none;
		text-transform: capitalize;
		font-family: $font__serif;

		.meta-nav {
			margin-left: .5em;
		}
	}

	.post {
		@media screen and (min-width: 500px) and (max-width: $content-width){
			max-width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	#main {
		.post {
			//border-top: 1px solid $black;
			// padding-top: 2em;
			
			&:last-of-type {
				.seperator {
					display:none; 
				}
			}
		}
	}
}

.page, .single-pwproperty, .tax-pwdynamic, .single, .tax-media_category {
	.entry-header {
		text-align: center;
		padding: 8em 1em 4em;
		color: $white;
		background-color: $green;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;

		@media screen and (min-width: $medium){
			padding: 10% 2em;
			margin-top: -8em;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: radial-gradient( to center, transparent 50%, rgba(0,0,0,0.5));
			background: rgba(0,0,0,0.5);
		}

		.entry-title {
			font-family: $font__headers;
			margin: 0;
			font-size: 4em;
			line-height: 1;
			font-weight: 400;
		}

		.sub-title {
			font-size: 1.5em;
			margin-top: 1em;
			font-weight: 300;
		}

		.title-wrap {
			position: relative;
			z-index: 10;
		}

		.entry-meta {
			margin-top: 1em;

			.byline {
				display: none;
			}

			a {
				color: $white;
			}

			.posted-on {
				letter-spacing: 2px;

				a {
					text-decoration: none;
				}
			}

			.cat-links, .tag-links {
				display: block;
				font-size: 75%;
				margin: .5em 0;

				a {
					color: $white;
					text-decoration: none;
					margin: 0 .25em;
				}
			}
		}
	}

	.entry-content {
		// margin-top: 1.5em;
	}

	.entry-footer {
		max-width: $content-width;
		padding: 0 1em;
		margin: 0 auto;
	}
}
.page-template-template-employees {
	.content-wrapper {
		max-width: $employee-width;
	}
}

#employees {

	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;

	.employee {
		flex: 1 1 15em;
		padding: 1.5em 1em;

		@media screen and (min-width: $medium){
			flex-basis: calc(100%/3);
			max-width: calc(100%/3);
		}

		.info {
			// margin-right: 1em;
		}
		
		.name {
			color: $gold;
			font-family: $font__serif;
			font-size: 1.5em;
		}

		.position {
			color: #AAA;
			font-style: italic;
			text-transform: uppercase;
			font-size: 75%;
		}

		.bio {
		//	text-align: justify;
		}

		&:first-of-type {
			@media screen and (min-width: $medium){
				flex: 1 1 100%;
				display: flex;
				max-width: none;

				.name {
					font-size: 2em;
				}
				
				img {
					flex: 1 0 auto;
					align-self: center;
					max-width: 50%;
					padding-right: 2em;
				}

				.info {
					flex: 0 1 50%;
				}
			}
		}
	
	} // .employee

} // #employees

.sow-google-map-canvas {
	max-height: 360px;
}

#testimonials-list {
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.testimonial {
		flex: 0 1 100%;
		
		@media screen and (min-width: $medium){
			flex: 0 1 48%;
		}
	}

	blockquote {
		margin: 0;
		padding: 0;
		margin-bottom: 2em;
		border-bottom: 1px solid $light-gray;
		padding-bottom: 1em;
	}

	.quoter {
		font-size: 1.25em;
		margin: .5em 0 0;
		display: inline-block;
	}

	.location {
		font-family: $font__main;
		font-weight: 700;
		font-style: normal;
		font-size: .75em;
		margin-left: 1em;
	}
}


// end of file