.tax-pwdynamic {
	.entry-content {
		max-width: $dynamic-width;
		margin-left: auto;
		margin-right: auto;
	}

	.dynamic-wrapper {
		font-size: 0;
		margin: 0 auto;
		
	}

	.inline {
		display: inline-block;
		height: 0;
		cursor: pointer;
		width: 100%;
		padding-top: 100%;
		font-size: 1rem;
		position: relative;
		background-size: cover;
		border: 1px solid $white;
		transform: translateY(0);
		//transition: transform .35s ease;
		
		@media screen and (min-width: 500px){
			width: calc(100%/2);
			padding-top: calc(100%/2);
		}
		
		@media screen and (min-width: 960px){
			width: calc(100%/3);
			padding-top: calc(100%/3);
		}

		@media screen and (min-width: 1500px){
			width: 25%;
			padding-top: 25%;
		}

		&.template-pwproperty:before, &.template-pwdynamicblock:before, &.template-post:before, &.template-pwpackage:before {
			content: '';
			position: absolute;
			background: rgba( $black, .75 );
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		
		&.template-pwdynamicblock:before {
			background: rgba( $red, .85 );
		}

		&.template-post:before {
			background: rgba( $green, .75 );
			/* Design Audit */
			background: rgba(92, 102, 68, .75);
		}

		&.template-pwpackage:before {
			background: rgba( $gold, .85 );
			/* Design Audit */
			background: rgba(130, 95, 73, .75);
		}

		&.template-attachment {
			cursor: auto;
		}


		&:not(.template-attachment):after {
			content: '';
			background-image: url(img/down-arrow.svg);
			background-size: contain;
			font-family: 'FontAwesome';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: .5em;
			color: $white;
			font-size: 1.5em;
			transition: all 1s ease;
			font-weight: 200;
			height: 1.5em;
			width: 1.5em;
		}

		&:hover:after {
			transform: translateX(-50%) translateY(-0.25em);
		}

		&.open {
			// transform: translateY(1em);
		}

		&.open:after {
			transform: translateX(-50%) rotate(-180deg);
		}

		&.closed:after {
			transform: translateX(-50%) rotate(-360deg);
		}

		.inner {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			color: $white;
			padding: 1em;

			.tagline {
				font-weight: 200;
			}

			.quote {
				text-align: justify;
				/* Design Audit Adjustments */
				text-align: center;
			}

			.title {
				text-align: center;
				font-size: 2em;
				font-weight: 200;
			}

			.info {
				text-align: right;
				font-style: italic;
				align-self: flex-end;
				margin-top: 2em;
			}

			.from {
				font-family: $font__serif;
				font-style: italic;
			}

		}
	  
		&.template-pwtestimonial {
			background-color: $brown;
			.inner {
				/* Design Audit Adjustments */
				font-size: 1.25em;
				padding-left: 1.5em;
				padding-right: 1.5em;

				.info {
					font-size: 50%;
				}
			}
		}

		&.template-pwproperty {
			background-color: $green;
		}

	} // .inline

	.expanded-block {
		font-size: 1rem;
		background: $white;
		
		width: 100%;
		display: none;
		overflow: hidden;
		// max-height: 0;
		// transition: max-height 2s ease;

		&.open {
			max-height: 1000px;
		}
		
		.inner {
			padding: 1em;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			@media screen and (min-width: 500px){
				padding: 2em;
			}
			
			@media screen and (min-width: 500px){
				flex-direction: row;
				display: flex;

				> * {
					width: 48%;
				} 
			}

			.attachment-image {
				width: 100%;
			}
		}

		.post-title {
			font-size: 2em;
			color: $gold;
		}

		&.template-pwtestimonial {

			blockquote {
				background: none;
				border: none;

			}

			.inner {
				justify-content: center;
			}
			.info {
				margin-top: 1em;
				font-family: $font__main;
				font-style: normal;
			}
			.quote {
				font-size: 1em;
			}
		}

	} // .block

	.quote {
		font-family: 'Crimson Text';
		font-style: italic;
	}

}
// End of File